.active-nav {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.active-nav:before {
  content: '';
  transition: 0.5s ease;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background: #4AC7E2;
  border-radius: 2px;
  animation: opacity 0.5s ease;
}

@keyframes opacity {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}


.instafeed__child .col {
  padding: 15px 0!important;
}
/*
.video__container {
  width: 100%;
} */

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
}

.video__wrapper:empty {
  background-color: #212121;
  padding: 0;
  height: 60vh;
  width: 80%;
  margin: auto;
}

.video__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 60vh;
    width: 100%;
    height: 100%;
}

/*******************************
* Basics
********************************/

/* h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
} */

/*******************************
* Synopsis
********************************/

.synopsis_container {
  width: 100%;
  height: 100%;
}
.synopsis_container h2 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.synopsis_container h2 {
  position: relative;
  width: fit-content;
}

.synopsis_container h2::before {
  content: '';
  position: absolute;

  width: 75%;
  height: 2px;

  bottom: -.5rem;

  border-radius: 2px;
  background: #4AC7E2;
}

.synopsis_container ul {
  list-style: none;
}

.synopsis_image {
  position: relative;
  max-width: 100%;
  height: 40vh;
  background: url('img/syno.jpg');
}

.trolo {
  width: calc(100% / 3);
}

.synopsis_character ul {
  width: 100%;

  display: flex;
  justify-content: space-around;

  list-style: none;
  padding: 0;
}

.synopsis_squad {
  margin-bottom: 3rem;
  margin-top: 3rem;

  width: 100%;
  height: 100%;
}

.synopsis_people {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
  padding: 0;
  list-style: none;
}

.synopsis_people li {
  width: 50%;
}

.synopsis_people h3 {
  color: #4AC7E2;
}

.movie_text {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.movie_description {
  display: flex;
  justify-content: center;
}
.movie_description p {
  max-width: 60%;
}

canvas {
  border: 1px solid red;
}